#loader,
#loader svg {
  transition-duration: 0.5s;
  transition-property: all;
}

#loader {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border: none !important;
}

#loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#code,
#codeb,
#password,
#passwordb,
#result {
  display: none;
}

input:active,
input:focus {
  border-color: #ced4da !important;
}

*:active,
*:focus {
  box-shadow: none !important;
}
